.login-box{
     padding:30px;
     width:300px;
     border-radius: 10px;
     box-shadow: 5px, 5px, 10px gray ;
     text-align:center;
     background-color: whitesmoke;
   }
  .header h1{
   color:black;
   margin-bottom:10px;
  }
  
  .header p{
   color:black;
   font-size:20px;
   margin-bottom:25px;
  }
  .footer a {
    color:blueviolet;
    margin-top: 5px;
    text-decoration-line: underline;
  }
  .footer a:hover{
    color: brown;
  }